<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"] - AirlineReservationSystem</title>

</head>
<body>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
